{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - SafeCart</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

<body>
    <header class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h1><a href="{% url 'home' %}">SafeCart</a></h1>
            </div>

        </div>
    </header>

    <section class="page-header">
        <div class="container">
            <h1>Reset Password</h1>
        </div>
    </section>

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <center>
            <h4 style="color: firebrick;">{{message}}</h4>
        </center>
        {% else %}
        <center>
            <h4 style="color: dodgerblue;">{{message}}</h4>
        </center>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="address-form-card" style="max-width:400px; margin:2rem auto;">
            <p style="text-align: center; font-size: 0.95rem;">
                Enter your email address and we’ll send you a link to reset your password.
            </p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <div class="error-text">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1rem;">
                    Send Reset Link
                </button>
            </form>
            <div>
                Not a member? <a href="{% url 'register' %}">Signup</a>
                <p>Remember your Password? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
</body>

</html>