{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reset Password - SafeCart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h1><a href="{% url 'home' %}">SafeCart</a></h1>
            </div>
        </div>
    </header>

    <section class="page-header">
        <div class="container">
            <h1>Reset Password</h1>
        </div>
    </section>

    <div class="container">
        <div class="address-form-card" style="max-width: 400px; margin: 2rem auto;">

            {% if messages %}
            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}


            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" required class="form-control" placeholder="New password">
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" required class="form-control"
                        placeholder="Confirm new password">
                </div>

                <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1rem;">Reset
                    Password</button>
            </form>

            <p style="text-align: center; margin-top: 1rem;">
                Remember your password? <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
    </div>
</body>

</html>