{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - SafeCart</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <style>
        .form-error {
            color: red;
            font-size: 0.9rem;
            margin-top: 0.25rem;
        }
    </style>
</head>

<body>
    <header class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
            <h1><a href="home"><i class="bi bi-bag-check-fill"></i> SafeCart</a></h1>
            </div>
            <nav class="nav-menu">
                <a href="/home" class="nav-link"><i class="bi bi-house-door-fill"></i> Home</a>
                <a href="/cart" class="nav-link"><i class="bi bi-cart-fill"></i> Cart</a>
                <a href="/wishlist" class="nav-link"> <i class="bi bi-heart-fill"></i> Wishlist</a>
                <a href="/yourorders" class="nav-link"><i class="bi bi-box-seam-fill"></i> Your Orders</a>
            </nav>
        </div>
    </header>

    <section class="page-header">
        <div class="container">
            <h1>Sign Up</h1>
        </div>
    </section>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <center>
        <h4 style="color: firebrick;">{{message}}</h4>
    </center>
    {% else %}
    <center>
        <h4 style="color: dodgerblue;">{{message}}</h4>
    </center>
    {% endif %}
    {% endfor %}
    {% endif %}

    <section class="auth-section">
        <div class="container">
            <div class="address-form-card" style="max-width:400px; margin:2rem auto;">

                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <div class="error-text">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <p style="text-align:center; margin-top:1rem;">Already have an account? <a
                        href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </section>
</body>

</html>